#!/bin/bash
# Enable git cloning on Ansible account on Ubuntu 14.04 server
# By Marcello Ciciriello 2016 for Itheon OpServe
#
chmod 777 /home
chown -R {{ ansible_ssh_user }} /home/{{ ansible_ssh_user }}
chmod 700 /home/{{ ansible_ssh_user }}
chmod 700 /home/{{ ansible_ssh_user }}/.ssh
chmod 600 /home/{{ ansible_ssh_user }}/.ssh/authorized_keys
chmod 600 /home/{{ ansible_ssh_user }}/.ssh/id*
