[Unit]
Description=vault
Requires=network-online.target
After=network.target

[Service]
User=vault
Group=vault
PIDFile=/run/vault/vault.pid
Restart=on-failure
Environment=GOMAXPROCS=2
ExecStartPre=[ -f "/run/vault/vault.pid" ] && /usr/bin/rm -f /run/vault/vault.pid
ExecStart=/usr/bin/vault server -config=/etc/vault.d
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target