#install4j response file for JIRA Software 7.3.1
#Thu Feb 16 11:40:41 UTC 2017
launch.application$Boolean=true
rmiPort$Long=8005
app.jiraHome={{data_path}}
app.install.service$Boolean=true
existingInstallationDir={{install_path}}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{install_path}}
executeLauncherAction$Boolean=true
httpPort$Long={{http_port}}
portChoice=default
