{
	"auths": {
		"https://docker.appdev.bluechipdomain.co.uk" : {
			"auth": "b3BzZXJ2ZS1kZXZvcHM6QVBmQkc2RUxrTXlBNEdRbllja2R2ZjhzaWJiSGF1VWJmZWlWbXlLcXhWZXdhVTky",
			"email": "devops@appdev.local"
		}
	}
}