<div class="modal-header">
  <h3 class="modal-title">Edit {{viewSelectionEntityNamePlural | lowercase}}</h3>
</div>
<form name="multiSelectForm" ng-submit="editSelection(multiSelectForm)">
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error':multiSelectForm.$dirty && multiSelectForm.selection.$invalid}">
      <label class="control-label" for="{{viewSelectionEntityNamePlural | lowercase}}">{{viewSelectionEntityNamePlural}}: </label>
      <ui-select multiple ng-model="multiSelectForm.selection" theme="bootstrap" reset-search-input="true" close-on-select="true">
        <ui-select-match allow-clear="true" ui-lock-choice="isSystem($item)" placeholder="Select {{viewSelectionEntityNamePlural}}...">
          {{$item[displayFieldName]}}
           <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"></a>
        </ui-select-match>
        <ui-select-choices repeat="item in items | propsFilter: {fields: [{name: displayFieldName, value: $select.search}]}">
          <div ng-bind-html="item[displayFieldName] | highlight: $select.search"></div>
          <small>
            {{item[displayFieldName]}}
            </small>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</form>
