<?xml version="1.0" encoding="UTF-8"?>
<Server port="8020" shutdown="SHUTDOWN">

    <Service name="Catalina">

        <Connector acceptCount="100"
                   connectionTimeout="20000"
                   disableUploadTimeout="true"
                   enableLookups="false"
                   maxHttpHeaderSize="8192"
                   maxThreads="150"
                   minSpareThreads="25"
                   port="{{http_port}}"
                   redirectPort="8443"
                   useBodyEncodingForURI="true"
                   URIEncoding="UTF-8"
                   proxyName="{{fqdn}}"
                   proxyPort="443"
                   scheme="https"
                   secure="true"/>

       <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">

                <Context path="" docBase="${catalina.home}/atlassian-bamboo" reloadable="false" useHttpOnly="true">

                    <!--<Resource name="UserTransaction" auth="Container" type="javax.transaction.UserTransaction"-->
                              <!--factory="org.objectweb.jotm.UserTransactionFactory" jotm.timeout="60"/>-->
                    <Manager pathname=""/>
                </Context>

            </Host>

            <Valve className="org.apache.catalina.valves.AccessLogValve" resolveHosts="false"
                   pattern="%a %t &quot;%m %U%q %H&quot; %s %b %D &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot;"/>

            <!-- StuckThreadDetectionValve added below to print stack traces if a thread has been stuck for 60 seconds -->
            <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60" />
        </Engine>
    </Service>
</Server>
