cHJvZHVjdHM6CiAgYXJ0aWZhY3Rvcnk6CiAgICBwcm9kdWN0OiBaWGh3YVhKbGN6b2dNakF4T0Mw
d01TMHpNRlF4TmpveE5qb3pPUzQxTnpSYUNtbGtPaUEwTURVeE1UVTNaUzFsTTJNekxUUTRZbVF0
T0dWa01TMWlaVE01TURabVpUbGtNVGdLYjNkdVpYSTZJRUpzZFdVZ1EyaHBjQ0JEZFhOMGIyMWxj
aUJGYm1kcGJtVmxjbWx1WnlCTWRHUUtjSEp2Y0dWeWRHbGxjem9nZTMwS2MybG5ibUYwZFhKbE9p
QnVkV3hzQ25SeWFXRnNPaUJtWVd4elpRcDBlWEJsT2lCRFQwMU5SVkpEU1VGTUNuWmhiR2xrUm5K
dmJUb2dNakF4Tnkwd01TMHpNRlF4TmpveE5qb3pPUzQxTnpSYUNnPT0KICAgIHNpZ25hdHVyZTog
RkJWQjk1cUdZd0kxYmZYWC9yU2xtSjFJYzU4cDYyVTdlK1RFUHV3c0NROHdEU0pFOEc5cE96eUZv
R0RJeG1ZckdpY0YxSDZpRlFvTGdmM09pdUpsVjJ4VkM0cnlORG1IajdrWXh3RkxzL2FUaWhnZHgv
WDhURjRPRzN6aTVPR2JONVRIdHByanhhZHd3aEdVTEhNbFA5NDNrOVVLY1VPT3VNSkpacVJNSWIr
dW1CYk1MbXlDM3V6TGMrMlE5UEJ6bmpUZ1BXOXdyVjdYZExIbm5OaXhTWkh5bXFHTEt1N1RXNm9o
UFVSYUV3UHh2N0d3SmYrM1dMQ3kxMnFvYmtrTXBvY0VRbXZ0ZmxBN1FXMEJXRnJtV2JWQVh4V2VN
MVdnS0Mya2RHZnJnVHV0aFZSUC8vL2tMZWVxQUQzeitzZzlKUi9YazlLNTZTWVdxQmVjNmw2R1hR
PT0KdmVyc2lvbjogMQo=
