app.factory('socket', function () {

  "use strict";

  console.log('Connecting to: https://{{ haproxy_virtual_ip }}:{{ itheonx_socket_port }}');
  return io.connect('https://{{ haproxy_virtual_ip }}:{{ itheonx_socket_port }}');
});
