{
    "server": false,
    "datacenter": "{{datacenter}}",
    "data_dir": "/var/consul",
    "encrypt": "wOj1Lx3az9hWwueKCi6Lgw==",
    "log_level": "INFO",
    "enable_syslog": true,
    "advertise_addr" : "{{ advertise_addr }}",
    "bind_addr" : "{{ advertise_addr }}"
}