{
  "datacenter": "{{datacenter}}",
  "data_dir": "/var/consul",
  "log_level": "INFO",
  "node_name": "{{inventory_hostname_short}}",
  "server": true,
  "encrypt": "wOj1Lx3az9hWwueKCi6Lgw==",
  "recursors" : ["10.197.55.240","10.187.9.1", "10.187.9.2"],
  "enable_syslog": true,
  "advertise_addr" : "{{advertise_addr}}",
  "ui" : true
}