#install4j response file for Confluence 6.0.5
#Thu Feb 16 13:26:50 UTC 2017
launch.application$Boolean=true
rmiPort$Long=8000
app.install.service$Boolean=true
existingInstallationDir=/usr/local/Confluence
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{install_path}}
app.confHome={{data_path}}
executeLauncherAction$Boolean=true
httpPort$Long={{http_port}}
portChoice=default
