[Unit]
Description=nomad
Requires=network-online.target
After=network.target

[Service]
User=nomad
Group=nomad
PIDFile=/run/nomad/nomad.pid
Restart=on-failure
Environment=GOMAXPROCS=2
ExecStartPre=[ -f "/run/nomad/nomad.pid" ] && /usr/bin/rm -f /run/nomad/nomad.pid
ExecStart=/usr/bin/nomad agent -config=/etc/nomad.d
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target