# put to /etc/ngnix/sites-available

upstream itheon {
    server 127.0.0.1:{{ itheonx_frontend_port }};
}

server {
    listen 443 ssl;
    access_log /var/log/nginx/itheon.log;
    server_name {{ itheonx_frontend_ip }};

    ssl_session_cache    shared:SSL:1m;
    ssl_certificate /opt/itheon/itheon.chained.crt;
    ssl_certificate_key /opt/itheon/itheon.key;
    ssl_verify_client off;
    ssl_prefer_server_ciphers on;

    location ~* ^/static/.+.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|pdf|txt|tar|wav|bmp|rtf|js|flv|swf|html|htm|map|woff|woff2|ttf)$ {
        rewrite /static/(.*) /$1 break;
        root /opt/itheon/itheon-10-frontend/public/;
        access_log off;
        expires max;
    }

    location / {
        proxy_set_header X-Real-IP ~Dremote_addr;
        proxy_set_header X-Forwarded-For ~Dproxy_add_x_forwarded_for;
        proxy_set_header Host ~Dhttp_host;
        proxy_set_header X-NginX-Proxy true;

        proxy_pass https://itheon;
        proxy_redirect off;
    }
}
