#Thu Feb 23 11:44:22 UTC 2017
session.lastvalidation=session.lastvalidation
session.tokenkey=session.tokenkey
crowd.server.url=http\://localhost\:8095/crowd/services/
application.name=crowd
http.timeout=30000
session.isauthenticated=session.isauthenticated
application.login.url=https\://{{fqdn}}
session.validationinterval=0
application.password=eMIwQeEof6UBPmVNxTHAy7
