.progress {
  position: relative;
}
.progress-bar,
.progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
.progress-value {
  font-size: 12px;
  text-indent: 5px;
  width: 100%;
  z-index: 1;
  padding-top: 1px;
}

.progress-success { color: #000 !important; }
.progress-warning { color: #000 !important; }
.progress-danger { color: #fff !important; font-weight: bold;}
