<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
     <ul class="sidebar-menu">
       <!-- <li class="header">Menu</li> -->
       <!-- Optionally, you can add icons to the links -->
       <li ng-repeat="(key, route) in menuCtrl.routes | isFalsey: 'isChild'" ng-class="{treeview: route.hasChildren}" ng-if="route.title">
         <a href="{{key}}">
           <i class="fa" ng-class="route.icon"></i>
           <span>{{route.title}}</span>
           <span class="pull-right-container" ng-if="route.hasChildren">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
         </a>
         <ul class="treeview-menu" ng-if="route.hasChildren">
           <li ng-repeat="(url, child) in menuCtrl.routes | isTruthy: 'parent' : route.parent" ng-class="{treeview: route.hasChildren}" >
             <a href="{{url}}">{{child.title}}</a>
            </li>
         </ul>
       </li>
     </ul>
     <!-- /.sidebar-menu -->

  </section>
  <!-- /.sidebar -->
</aside>
