variable "vsphere_user" {
  default = "{{vsphere_user}}"
}

variable "vsphere_server" {
  default = "{{vsphere_host}}"
}

variable "vsphere_password" {
  default = "{{vsphere_password}}"
}

variable "vsphere_datacenter" {
  default = "{{vsphere_datacenter}}"
}

# --- Output ---

output "vsphere_user" {
  value = "${var.vsphere_user}"
}

output "vsphere_server" {
  value = "${var.vsphere_server}"
}

output "vsphere_password" {
  value     = "${var.vsphere_password}"
  sensitive = true
}

output "vsphere_datacenter" {
  value = "${var.vsphere_datacenter}"
}
